[submodule "modules/prezto"]
	path = modules/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "modules/vim-hybrid"]
	path = modules/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
